body {
  margin: 0;
  padding: 20px 40px;
  font-family: "Playwrite Deutschland Lateinische Ausgangsschrift";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 193, 226);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: rgb(214, 48, 90);
}

* {
  box-sizing: border-box;
}
